<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <form class="product-form" action="/setPassword" method="POST">
            <div class="form-control">
                <input type="hidden" name="email" id="email" value="<%= email%>">
                <input type="hidden" name="token" id="token" value="<%= token%>">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <div class="form-control">
                <label for="confirmed_pwd">Confirm Password</label>
                <input type="password" name="confirmed_pwd" id="confirmed_pwd">
            </div>
            <div>
                <input type="hidden" name="_csrf" value="<%= csrfToken%>">
                <button class="btn" type="submit">Reset</button>
            </div>
            <% if (form_error.trim().length != 0) { %>
                <p class="form_errors"><%= form_error%></p>
            <% } %>
        </form>
    </main>
<%- include('../includes/end.ejs') %>
